{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col align-items-center my-auto">
            <h1 class="display-4 logo-font text-white">
                MovieBox
            </h1>
            <h2 class="blurb-text">Bringing the cinema home.</h2>
            <h2 class="blurb-text">Explore our wide range of movies and get the popcorn ready!</h2>
            <div class="my-6">
                <h3>
                    <a href="" class="btn btn-lg shop-here-button rounded-0 py-3">Store</a>
                </h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}