@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@300&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/moviebox\ background\ image5.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #D90429;
    font-family: 'Roboto Condensed', sans-serif;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.navbar-text {
    text-transform: uppercase;
    color: #D90429;
}

.logo-main-text {
    text-shadow: 1px 1px #000;
}

.logo-main {
    width: fit-content;
}


.btn-black {
    background: #D90429;
    color: white;
}

.shop-here-button {
    background: black;
    color: white;
    min-width: 260px;
}


.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-here-button:hover,
.shop-here-button:active,
.shop-here-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.navbar-text {
    color: #D90429;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.blurb-text {
    color: #fff;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}